
        <a class="popup btn btn-primary" href="/home/save/0" style="margin-bottom:20px; margin-top:20px;">Create</a>
        <table id="question" class="table table-condensed table-bordered table-striped">
            <thead>
                <tr>
                    <th>Question</th>
                    <th>Option 1</th>
                    <th>Option 2</th>
                    <th>Option 3</th>
                    <th>Option 4</th>
                </tr>
            </thead>
        </table>

    @section scripts
{
        <script type="text/javascript">
            $(document).ready(function () {
                $('#question').DataTable({
                    "ajax": {
                        "url": "/home/loaddata",
                        "type": "GET",
                        "datatype": "json"
                    },
                    columns: [
                        { "data": "Questions" },
                        { "data": "Option1" },
                        { "data": "Option2" },
                        { "data": "Option3" },
                        { "data": "Option4" }                       
                    ]
                });
            });

            
        </script>
    }
